@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --black: #000;
    --white: #fff;
    --dark-grey: #1E1C1C;
    --light-grey: #DBDBDB;
    --yellow: #D9D499;
    --light-green: #9FD30A;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--black);
    color: var(--white);
}