:root {
  /* Font sizes */
  --text-xs: 16px;
  --text-sm: 18px;
  --text-base: 20px;
  --text-md: 22px;
  --text-lg: 25px;
  --text-xl: 28px;
  --text-2xl: 32px;
  --text-3xl: 38px;

  /* Column widths */
  --col-platform-width: 50px;
  --col-route-width: 60px;
  --col-direction-width: minmax(0, 1fr);
  --col-scheduled-width: 90px;
}

.departure-grid {
  display: grid;
  grid-template-columns: var(--col-platform-width) var(--col-route-width) var(
      --col-direction-width
    ) var(--col-scheduled-width);
  width: 100%;
  min-width: 0;
}

/* Text size classes */
.text-header {
  font-size: var(--text-sm);
}

.text-departure {
  font-size: var(--text-md);
}

.text-min-label {
  font-size: var(--text-xs);
}
